section {
    margin-bottom: 20px;
}
h1 {
    color: black;
}

div > * {
    color: white;
}

[class^="col"] {
    height: 100px;
    background-color: #006CFA;
    border: 1px solid white;
}

/* #00E165 */