section {
    margin-bottom: 20px;
}
h1, h3 {
    color: black;
}

div > * {
    color: white;
}


[class^="col"] {
    height: 100px;
    line-height: 100px;
    background-color: #006CFA;
    border: 1px solid white;
}

.nest {
    padding: 20px;
}
.nest-between {
    justify-content: space-between;
}

.nest-around {
    justify-content: space-around;
}
.sub-nested {
    height: 50px;
    background-color: lime;
    border: 1px solid #006CFA;
    line-height: 50px;
}

.big {
    height: 200px;
}
/* #00E165 */